<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhi.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.wangzhi.domain.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, phone, pwd, sex, img, create_time, `role`, username, wechat
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `user`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `user`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wangzhi.domain.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user` (phone, pwd, sex, 
      img, create_time, `role`, 
      username, wechat)
    values (#{phone,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{img,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{role,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wangzhi.domain.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="role != null">
        `role`,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangzhi.domain.User">
    <!--@mbg.generated-->
    update `user`
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="role != null">
        `role` = #{role,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangzhi.domain.User">
    <!--@mbg.generated-->
    update `user`
    set phone = #{phone,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `role` = #{role,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `user`
    </select>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user`
    (phone, pwd, sex, img, create_time, `role`, username, wechat)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.phone,jdbcType=VARCHAR}, #{item.pwd,jdbcType=VARCHAR}, #{item.sex,jdbcType=INTEGER}, 
        #{item.img,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.role,jdbcType=INTEGER}, 
        #{item.username,jdbcType=VARCHAR}, #{item.wechat,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>